@tailwind base;
@tailwind components;
@tailwind utilities;

/* .slick-slide > div{
    margin: 0, 30px;
    border: 1px solid black;
    height: 200px;
    
    
} */
.slick-slide, .slick-active{
    margin: 0 20px;

}